html, body {
    margin: 0;
}

header {
    background-color: #00124E;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#logo {
    width: 74px;
    position: absolute;
    top: 3px;
    margin-left: 3%;
 }

#menu {
    float: right;
    list-style: none;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
   
}

li {
 float: left;  
 padding: 20 20 20 10; 
 -border: 1px ;
}
.menuer {





}
.menuer:hover {

background-color: #6dafc7

}

#imagem_fundo {
    background: url("pop.jpeg");
    height: 100%;
    text-align: center;
    background-size: cover;
}


#titulo {
    color: white;
    padding-top: 20%;
    font-size: 70px ;
    line-height: 1; 
    
    font-family: 'Georgia', 'serif',
}

#subtitulo {
    color: white;
    -text-shadow: black 1.5px 1.5px;
    
    padding-left: 20%;
    padding-right: 20%;
    font-size: x-large;
    hr align="center" width="80%"
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




#novameca {
text-align: center;
-width: 100%;



}

.avocados {
padding-left: 190px;
float: right
position relative;


}

.icone {
    width: 51px;
    }

 section {
     padding: 80px;
     float: left;
 }   


.destaque { 
    background-color: white;
    color: #00124E;

}

.imgeco {
    width: 80%;
    height: 30%;
}


.coluna {   
    float: left;
    padding: 2 5%;
    position: relative;

}

.dois {
    width: 40%;

}

.quatro {
    width: 15%;
}

.tres {
    width: 29%;
    padding:0 2%;
}

.justificado {
    text-align: justify;
}

.esquerda {
    text-align: left;
}

.finale {
    background-color: #a9aca3;


}

.centralizado {
    text-align: center;
}



#textos {
background-color: #00124E;
color:white;
font-size: medium;
font-family: Georgia, 'Times New Roman', Times, serif;


}

#creditos {
    background-color: #00124E;
    color: white;
width: 90%;
padding-top: 70px;


}

.vocesabia {
padding-left: 70x;




}

.danielmolo {
padding-left: 5px;




}

#linkpost {
    background-color: white;
    color: #00124E;
}


.metade {
width: 70%;
display: block;
padding-left: 10%;


}

.ave {
padding-top: 10px;



}

.fontes {
font-family: 'Segoe UI', 'Tahoma', Geneva, Verdana, sans-serif ;

'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.fonte {
    font-family: 'Georgia', 'Georgia', 'Georgia';


}

@media screen and (max-width: 900px) {
    #menu , #novameca , .imagem, .coluna, .destaque, #sobre, #selecao {
      display: none;


    }
}


#carrossel {
    background-color: #00124E;
    color: white;
}

* { margin: 0; padding: 0; }

.slider {
    display: block;
    height: 293px;
    width: 340px;
    margin-left: 60px;
    margin-top: 0px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    opacity: 0;
        visibility: hidden;
}

.slider input {
    display: none;
}

.slider label {
    background-color: white;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 30px;
}

.slider li:nth-child(3) label {
    left: 50px;

} 

.slider li:nth-child(4) label {
    left: 70px;

} 
.slider li:nth-child(5) label {
    left: 90px;

} 

.slider li input:checked ~ img {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }
    a {
        -background-color: red;
        color: rgb(250, 250, 250);
        padding: 1em 1.5em;
        text-decoration: none;
        -text-transform: uppercase;
      }


}


.mohave {

width: 40%;



}

